* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --back: #1c1e25;
  --primary: #a329f5;
  --light: #e7c2ff;
}

.App {
  background-color: var(--back);
}

.Navbar_field {
  width: 1140px;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  position: sticky;
  color: var(--primary);
  display: flex;
  background-color: var(--back);
  z-index: 20;
  border-bottom: 1px solid rgb(53, 53, 53);
  justify-content: space-between;
  align-items: center;  
  top: 0;
  left: 0;  
}

.mask {
  background: var(--back);
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  position: fixed;
}

.loader {
  position: relative;
  width: 5em;
  height: 5em;
  transform: rotate(165deg);
  margin-bottom: 5rem;
}
